<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sofisapp.sofistrending"
android:installLocation="preferExternal">


    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity"/>
        <activity android:name=".BoysActivity"/>
        <activity android:name=".DamasActivity"/>
        <activity android:name=".CaballerosActivity"/>
        <activity android:name=".detalles.DetallesBoy1Activity">
        </activity>
        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".ActivityDetallesBoy1">
        </activity>
        <activity android:name=".CarritoActivity">
        </activity>
        <activity android:name=".AgregarItemCarrito">
        </activity>
        <activity android:name=".DetallesBoyOneActivity">
        </activity>
        <activity android:name=".DetallesBoyOneCarritoActivity">
        </activity>
        <activity android:name=".Boy2Activity">
        </activity>
        <activity android:name=".Boy3Activity">
        </activity>
        <activity android:name=".Boy4Activity">
        </activity>
        <activity android:name=".Dama1Activity">
        </activity>
        <activity android:name=".Dama2Activity">
        </activity>
        <activity android:name=".Dama3Activity">
        </activity>
        <activity android:name=".Dama4Activity">
        </activity>
        <activity android:name=".Caballero1Activity">
        </activity>
        <activity android:name=".Caballero2Activity">
        </activity>
        <activity android:name=".Caballero3Activity">
        </activity>
        <activity android:name=".Caballero4Activity">
        </activity>
    </application>

</manifest>